.form{
    min-height: 697px;
    width: 1280px;
    padding: 50px 88px;
    display: flex;
    flex-flow: row wrap;
    font-family: Raleway;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

}

.form__content{
    display: flex;
    flex-direction: row;
    gap:88px;
}

.main__info{
    max-width: 630px;
}

.article__inputs_small{
    display: inline-flex;
    align-items: flex-start;
    gap: 82px;
    padding-top: 100px;
}

.main__info_title{
    color: #151515;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__info_text{
    opacity: 0.6;
    padding-top: 24px;
    font-size: 20px;
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo{
    margin-top: -30px;
    width: 385px;
    height: 360px;
}

.button{
    margin-left: auto;
    margin-top: auto;
    border-radius: 16px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    background: white;
    width: 165px;
    height: 57px;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
}